<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	<!-- Estilo CSS -->
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	
    <!-- Maps API Javascript -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	
  </head>
  <body>  
	<div id="container">
		<h1>Demo 1: Primeiro Mapa</h1>
		
		<!-- container do mapa -->
		<div id="mapa"></div>	
	</div>    
  </body>
  
  <!-- jQuery Library -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  
  <!-- Site js -->
  <script type="text/javascript" src="js/mapa.js"></script>
</html>